*{
    margin: 0;
    padding: 0;
}
:root{
    --main-color:#fe9901 ;
}
body{
    font-family: 'Poppins', sans-serif;
    text-transform: capitalize;
    overflow-x:hidden;
}



header{
    background-image: url(images/banner2.jpg);
    height: 110vh;
    background-size: cover;
    position: relative;
}

/* start top_nav */
.top_nav{
    background-color: #161825;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 200px;
}
.top_nav div{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    transition: 0.5s;
}
.top_nav div:nth-child(2) i {
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    color: #000;
    border-radius: 50%;
    transition: 0.5s;
    font-size: 18px;
    cursor: pointer;
}
.top_nav div:nth-child(2) i:hover{
    color: var(--main-color);
    transform: rotate(360deg);
}
@media (max-width:1400px) {
    .top_nav{
        padding: 10px 20px;
    }
}
@media (max-width:995px) {
    .top_nav div:nth-child(1) , 
    .top_nav div:nth-child(3){
        font-size: 12px;
    } 
}
@media (max-width:768px) {
    .top_nav {
        justify-content: center;
    }
    .top_nav div:nth-child(1) , 
    .top_nav div:nth-child(3){
        display: none;
    } 
}
/* end top_nav */



/* start nav */
nav{
    background-color: #fff;
    margin: 0 200px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px;
    text-transform: uppercase;
}
nav .fa-bars{
    display: none;
}
nav a{
    text-decoration: none;
    color: #000;
}
nav ul{
    display: flex;
    align-items: center;
    justify-content: center;
}
nav ul li{
    list-style: none;
}
nav ul li a{
    padding: 15px 25px;
    border-radius: 10px;
    transition: 0.5s;
}
nav ul li a.active ,
nav ul li a:hover{
    background-color: var(--main-color);
    color: #fff;
}
nav .title{
    font-size: 30px;
    font-weight: bold;
}
nav ul li i{
    font-size: 20px;
}
@media (max-width:1400px) {
    nav{
        margin: 0px 20px;
    }
}
@media (max-width:995px) {
    nav ul li a{
        padding: 8px 10px;
    }
}
@media (max-width:768px) {
    nav{
        position: relative;
    }
    nav ul{
        position:absolute;
        flex-direction: column;
        right: 20px;
        bottom: -210px;
        background-color: #161825;
        width: 300px;
        gap: 10px;
        align-items: flex-start;
        transition: 0.5s;
        height: 0;
        overflow: hidden;
        padding: 0;
        opacity: 0;
        z-index: 500;
    }
    
    nav .fa-magnifying-glass{
        display: none;
    }
    nav ul li a{
        color: #fff;
    }
    nav .fa-bars{
        display: block;
        font-size: 25px;
        color: var(--main-color);
        cursor: pointer;
    }
    nav ul li a.active ,
    nav ul li a:hover{
        background-color: transparent;
        color: var(--main-color);
    }
    nav:hover  ul{
        height: auto;
        overflow: visible;
        padding: 20px;
        opacity: 1;
    }
}
/* end nav */

/* start header_title */
.header_title{
    color: #fff;
    position: absolute;
    display: flex;
    flex-direction: column;
    gap: 30px;
    left: 200px;
    top: 50%;
    transform: translateY(-50%);
}
.header_title h1{
    font-size: 100px;
}
.header_title button{
    width: max-content;
    padding: 15px 100px;
    /* width: 280px; */
    background-color: var(--main-color);
    color: #fff;
    border: none;
    cursor:pointer;
    font-size: 18px;
    font-weight: 400;
    border-radius: 5px;
}
.btn{
    width: max-content;
    padding: 15px 100px;
    /* width: 280px; */
    background-color: var(--main-color);
    color: #fff;
    border: none;
    cursor:pointer;
    font-size: 18px;
    font-weight: 400;
    border-radius: 5px;
}
@media (max-width:1400px) {
 .header_title{
    left: 20px;
 }
}
@media (max-width:995px) {
 .header_title h1{
    font-size: 80px ;
 }
}
@media (max-width:768px) {
 .header_title h1{
    font-size: 50px ;
 }
}
@media (max-width:550px) {
 .header_title h1{
    font-size: 30px ;
 }
}
/* end header_title */


header .slider_icones{
    position: absolute;
    right: 100px;
    bottom: 0;
    transform: translateY(50%);
    display: flex;
    gap: 10px;
}
header .slider_icones i {
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #161825;
    color: #fff;
    border-radius: 50%;
    cursor: pointer;
    transition: 0.5s;
}

header .slider_icones i:hover{
    background-color: var(--main-color);
}
@media (max-width:995px) {
    header .slider_icones{
        right: 50px;
        bottom: 150px;
        transform: translateY(0);
        display: flex;
        gap: 10px;
    }
}


/* start services */
.services{
    margin-left: 200px;
    display: flex;
    align-items: center;
    gap: 50px;
    transform: translateY(-50%);
    width: max-content;
}
.services div{
    background-color: #fff;
    width: 250px;
    height: 180px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 30px;
    box-shadow: 0 0 250px rgba(3, 3, 3, 0.16);
    transition: 0.5s;
}
.services div:hover{
    background-color: var(--main-color);
    cursor: pointer;
}
.services div:hover b{
    color: #fff;
}
@media (max-width:1400px) {
    .services{
        margin-left: 20px;
    }
}
@media (max-width:1200px) {
    .services{
        margin-left: 20px;
        flex-wrap: wrap;
    }
    .services div{
        width: 200px;
        height: 150px;
        font-size: 12px;
    }
}
@media (max-width:995px) {
    .services{
        padding: 20px;
        width: auto;
        gap: 0;
        transform: translateY(-100px);

    }
    .services div{
        width: 100%;
        height: 200px;
    }
}
/* end services */




/* start about */
.about{
    padding:  100px 50px 50px 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 80px;
}
.about div{
    display: flex;
    flex-direction: column;
    gap: 40px;
}
.about div b{
    font-size: 40px;
    font-weight: 600;
}
.about div p{
    line-height: 1.7;
}
.about div button{
    background-color: #161825;
    transition: 0.5s;
}
.about div button:hover{
    background-color: var(--main-color);
    color: #fff;
}
@media (max-width:768px) {
    .about{
        padding:  100px 20px 50px 20px;
        flex-direction: column;
    }
    .about img{
        width: 100%;
    }
    
}
/* end about */



/* start section */
section{
    padding: 100px 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 30px;
}
section b{
    font-size: 40px;
    font-weight: 600;
}
/* end section */




/* start projects */
.projects .container{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}
.projects .container .card{
    width: calc( (100% - 40px ) / 3);
    position: relative;
    overflow: hidden;
}
.projects .container .card img{
    width: 100%;
}
.projects .container .card .child{
    position: absolute;
    bottom: -150px;
    color: #fff;
    padding: 30px 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    transition: 0.5s linear;
}
.projects .container .card .child div{
    font-size: 25px;
}
.projects .container .card .child p{
    line-height: 2;
    transition: 0.5s linear ;
    opacity: 0;
}
.projects .container .card .child:hover{
    bottom: 0;
    background-color: #ffffffc1;
    color: #000;
}
.projects .container .card .child:hover p{
    display: block;
    opacity: 1;
}
.projects .icones i{
    padding: 20px;
    background-color: #000;
    color: #fff;
    border-radius: 50%;
    transition: 0.5s;
    cursor: pointer;
}
.projects .icones i:hover{
    background-color: var(--main-color);
}
@media (max-width:995px) {
    .projects .container .card{
        width: calc( (100% - 20px ) / 2);
    }
}
@media (max-width:768px) {
    .projects .container .card{
        width: 100%;
    }
    .projects .container .card .child{
        bottom: -130px;
    }
}
@media (max-width:500px) {
    .projects .container .card .child{
        bottom: -150px;
    }
}
/* end projects */



/* start choose */
.choose{
    height: 100vh;
    background-image: url(images/choose_bg.jpg);
    background-position: center;
    background-size: 100% 100%;
    padding: 50px 0  50px 200px;
    display: flex;
    align-items: center;
    font-family: "Raleway", sans-serif;
}
.choose .card{
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.choose .card b{
    font-size: 40px;
}
.choose .card p{
    width: 50%;
    line-height: 2;
}
.choose .card .details{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 20px;
}
.choose .card .one{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.choose .card .one div{
    background-color: #fff;
    width: 130px;
    height: 130px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    transition: 0.5s;
    cursor: pointer;
}
.choose .card .one div:hover{
    background-color: var(--main-color);
}
.choose .card .one div img{
    width: 50%;
}
.choose .card .one span{
    font-weight:600;
}
@media (max-width:1400px) {
    .choose{
    padding: 50px 0  50px 20px;

    }
}
@media (max-width:768px) {
    .choose .card p{
        width: 100%;

    }
    .choose .card .details{
        justify-content: space-around;
    }
}
@media (max-width:600px) {
    .choose .card .one div{
        width: 100px;
        height: 100px;
    }
    .choose .card .one span{
        font-size: 14px;
    }
}
@media (max-width:600px) {
    .choose .card .one div{
        width: 80px;
        height: 80px;
    }
    .choose .card .one span{
        font-size: 10px;
    }
}
/* end choose */




/* start sec-staff */
.staff .container{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}
.staff .container .card{
    width: calc((100% - 60px ) / 4);
}
.staff .container .card .card_img{
    margin: auto;
    width: 230px;
    height: 230px;
    padding: 30px 20px  0 ;
    background-color: #fff;
}
.staff .container .card .card_img img{
    width: 100%;
    box-shadow: 0 0 250px rgba(3, 3, 3, 0.15);
}
.staff .container .card .card_details{
    background-color: var(--main-color);
    padding: 15px 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.staff .container .card .card_details span{
    color: #fff;
    font-size: 22px;
    font-weight: 500;
}
.staff .container .card .card_details div{
    width: 100%;
   display: flex;
   align-items: center;
   justify-content: center;
   gap: 5px;
}
.staff .container .card .card_details div i{
    width: 40px;
    height: 40px;
    background-color: #fff;
    color:var(--main-color);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
@media (max-width:995px) {
    .staff .container .card{
        width: calc((100% - 40px ) / 3);
    }
}
@media (max-width:768px) {
    .staff .container .card{
        width: calc((100% - 20px ) / 2);
    }
}
@media (max-width:550px) {
    .staff .container .card{
        width: 100%;
    }
}
/* end sec-staff */




/* <!-- start contact --> */
.contact{
    align-items: flex-start;
    padding: 100px 200px;
 }
 .contact .container{
     width: 100%;
     display: flex;
     align-items: center;
     justify-content: center;
 }
 .contact .container form{
     width: 50%;
     box-shadow:0 0 250px rgba(3, 3, 3, 0.15); ;
     padding: 30px 60px;
     display: flex;
     flex-direction: column;
     gap: 20px;
 }
 .contact .container form input{
     height: 40px;
     border: none;
     outline: none;
     padding: 0 10px;
     box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
 }
 .contact .container form input::placeholder{
     opacity: 0.5;
     font-size: 16px;
 }
 .contact .container form textarea{
     padding: 30px 10px;
     opacity: 0.5;
     font-size: 16px;
     border: none;
     outline: none;
     box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
     color: #6f6d6d;
 }
 .contact .container form button{
     background-color: var(--secondary-color);
     width: 180px;
 }
 .contact .container form button:hover{
     background-color: var(--main-color);
 }
 .contact .container div{
     width: 50%;
     height: 400px;
 }
 .contact .container div iframe{
     width: 100%;
     height: 100%;
 }
 @media (max-width:1400px) {
    .contact{
        padding: 100px 20px;
    }
 }
 @media (max-width:995px) {
    .contact .container{
        flex-direction: column;
        gap: 10px;
    }
    .contact .container form{
        width: 80%;
    }
    .contact .container div{
        width: 90%;
    }
 }
 /* <!-- end contact --> */





/* start animation */
.animation{
    display: flex;
    align-items: center;
    gap: 200px;
}

.animation img:first-child{
    animation: truck-1 5s linear infinite alternate ;
}
.animation img:nth-child(2){
    animation: truck-2 5s linear infinite alternate;
}
@keyframes truck-1 {
        100%{
            transform: translateX(400%);
        }
}
@keyframes truck-2 {
        100%{
            transform: translateX(-200px);
        }
}
@media (max-width:500px) {
    .animation img{
        width: 100px;
    }
}
/* end animation */








 /* start footer */
 footer{
     background-color: #161825;
     color: #ffff;
 }
 .top_footer{
    padding: 100px 200px 50px;
    display: flex;
    justify-content: space-between;
 }
 .top_footer .card{
    display: flex;
    flex-direction: column;
    gap: 5px;
 }
 .top_footer .card:first-child b{
    font-size: 40px;
 }
 .top_footer .card:first-child div{
    width: 300px;
    line-height: 1.8;
 }
 .top_footer .card:not(:first-child) div{
    display: flex;
    flex-direction: column;
    margin-top: 25px;
 }
 .top_footer .card:nth-child(2) div{
    gap: 8px ;
    
 }
 .top_footer .card:nth-child(2) div a{
   text-decoration: none;
   color: #fff;
   font-size: 17px;
 }
 .top_footer .card:nth-child(3) div{
    flex-direction: row;
    width: 200px;
    flex-wrap: wrap;
    gap: 10px;
 }
 .top_footer .card:nth-child(3) div img{
    width: calc((100% - 10px ) / 2) ;
 }
 .top_footer .card:nth-child(4) div{
    gap: 10px;
 }
 .top_footer .card:nth-child(4) div *{
    height: 40px;
 }
 .top_footer .card:nth-child(4) div input{
    padding-left:10px;
    background-color: transparent;
    border: 2px solid #fff;
    outline: none ;
 }
 .top_footer .card:nth-child(4) div button{
    border: 2px solid #fff;
    color: #fff;
    cursor: pointer;
    background-color: #161825;
    font-size: 16px;
    transition: 0.5s;
 }
 .top_footer .card:nth-child(4) div button:hover{
    background-color: var(--main-color);
 }
 .top_footer .card:not(:first-child) b{
    font-size: 18px;
    position: relative;
    width: max-content;
 }
 .top_footer .card:not(:first-child) b:after{
    content: "";
    position: absolute;

    width: 100%;
    height: 0.5px;
    background-color: #fff;

    left: 0;
    bottom: -50%;

 }
footer .down_footer{
    text-align: center;
    padding: 20px;
} 
footer .down_footer div{
    position: relative;
}
footer .down_footer div::before{
    content: "";
    position: absolute;

    width: 50%;
    height: 2px;
    background-color: #fff;
    left: 50%;
    transform: translate(-50%);
    top: -50%;
}
@media (max-width:1400px) {
    .top_footer{
        padding: 100px 20px 50px;
    }
}
@media (max-width:995px) {
    .top_footer{
        justify-content: center;
        gap: 30px;
        flex-wrap: wrap;
     }
     .top_footer .card{
        width: calc((100% - 30px) / 2);
     }
}
@media (max-width:768px) {
    .top_footer{
        flex-direction: column;
    }
    .top_footer .card:nth-child(3){
        width: 100%;
    }
    .top_footer .card:nth-child(3) div{
        width: 100%;
     }
     .top_footer .card:nth-child(3) div img{
        width: 100px ;
     }
     .top_footer .card:nth-child(4) {
        width: 100%;
     }
     .top_footer .card:nth-child(4) div{
        width: 100%;

     }
     .top_footer .card:nth-child(4) div input{
        width: 100%;
     }
     .top_footer .card:nth-child(4) div button{
        width: 50%;
        margin: auto;
     }
}
 /* end footer */
